body {
  font-family: century gothic;
}

#tasktrackercontainer {
  background-color: #283636;
  height: 100%;
  width: 100%;
  padding: 0%;
  position: fixed;
  text-align: center;
}

#tasktrackerheading {
  color: #ff8c4a;
  font-size: 40px;
  text-align: center;
  margin: 30px;
  margin-top: 20px;
  font-family: impact;
}

#backlog {
  width: 20%;
  height: 80%;
  padding: 5px;
  background-color: #ff8c4a;
  display: inline-block;
  border-radius: 5px;
  vertical-align: top;
}

#inprogress {
  width: 20%;
  padding: 5px;
  height: 80%;
  background-color: #ff8c4a;
  display: inline-block;
  margin-left: 5%;
  border-radius: 5px;
  vertical-align: top;
}

#complete {
  width: 20%;
  height: 80%;
  padding: 5px;
  background-color: #ff8c4a;
  display: inline-block;
  margin-left: 5%;
  border-radius: 5px;
  vertical-align: top;
}

#deletetask {
  background-color: rgb(255, 42, 42);
  display: none;
  margin-top: 15%;
  margin-left: 2%;
  border-radius: 5px;
  padding: 10px;
  color: white;
  /* box-shadow: rgb(255, 27, 27) 0px 0px 20px; */
}

.blockheading {
  font-size: 30;
  margin: 10px;
  color: #fff8f4;
  font-family: impact;
}

.taskscontainer {
  width: 100%;
  height: 75%;
  padding-top: 20px;
  overflow: auto;
}

.taskscontainer::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.task {
  width: 90%;
  height: auto;
  min-height: 5%;
  margin-bottom: 10px;
  background-color: #253030;
  color: rgb(248, 248, 248);
  margin-left: 50%;
  transform: translate(-50%);
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.tasktitle {
  font-size: 20px;
  padding-top: 10px;
  margin: 0%;
  text-align: center;
}

.taskdetails {
  font-size: 14;
  margin: 0%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin-top: 5px;
}

/* all class starting with word task */
[class|="task"]:hover {
  cursor: move;
}

#addtask {
  margin-top: 5%;
  font-size: 20px;
  font-family: century gothic;
  width: 80%;
  background-color: rgb(255, 244, 244);
  color: #283636;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
