.reduxappcontainer{
  margin-left: 50%;
  text-align: center;
  transform: translate(-50%);
  margin-top: 10%;
}

.number {
  font-size: 40px;
  color: #ff843d;
}

.incrementButton,.decrementButton,.resetButton {
  font-size: 20px;
  border: none;
  font-family: impact;
  padding: 10px;
  min-width: 100px;
}

.dropdown{
  font-size: 20px;
  width: 100px;
  text-align: center;
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 5px;
  font-family: impact;
}
